/* MEDIA QUERIES */

/* TABLET */

@media(min-width: 768px){

/* 3.- SECCION TRES EXCHANGE ARTICLES */

    .cards-container__card {
        max-width: 35rem;
    }

}

@media(min-width: 1024px){

/* 5.- SECCION CINCO PLANES*/

    .planes-container__box-planes-container{
        justify-content: space-evenly;
        align-items: center;
    }
    
    .planes-container__box-planes{
        margin: 1rem 0.5rem;
    }

}